<!DOCTYPE html>
<html>
<head>
    <title>Time Based OTP Authenticator</title>
</head>
<body>
<br/>
<a href="Generate">1. Generate OTP</a>
<br/>
<br/>
<a href="Validate">2. Validate OTP</a>
</body>
</html>